{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% load static %}

{% block head %}
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>Upload de OPS</title>
{% endblock %}

{% block modulos %}active{% endblock %}
{% block pcp %}active{% endblock %}
{% block lipcp %}active{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <font size="2">
        <table id="tabela" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="5%">Op</th>
                    <th scope="col" width="20%">Cliente</th>
                    <th scope="col" width="35%">Servico</th>
                    <th scope="col" width="5%">Quant</th>
                    <th scope="col" width="7%">Vendedor</th>
                    <th scope="col" width="5%">Entrada</th>
                    <th scope="col" width="5%">Prev entrega</th>
                    <th scope="col" width="5%">Entregue</th>
                    <th scope="col" width="8%">Status</th>
                    <th scope="col" width="5%">Atualização</th>
                </tr>
            </thead>
            <tbody>
                {% for valor in object_list %}
                    <tr>
                        <td>{{ valor.op.op }}</td>
                        <td>{{ valor.op.cliente }}</td>
                        <td>{{ valor.op.servico }}</td>
                        <td>{{ valor.op.quant }}</td>
                        <td>{{ valor.op.vendedor }}</td>
                        <td>{{ valor.op.entrada|date:"d/m/Y" }}</td>
                        <td>{{ valor.op.prev_entrega|date:"d/m/Y" }}</td>
                        <td>{{ valor.entrega|date:"d/m/Y" }}</td>
                    <td>
                        {% if valor.cancelada == True %}
                            <p>Cancelada</p>
                        {% elif valor.entrega %}
                            <p>Produzida</p>
                        {% else %}
                            <p>Em produção</p>
                        {% endif %}
                    </td>
                        <td>
                            <form method="POST" action="{% url 'url_list_prod_comp_up_op' valor.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success btn-block">Entregar</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="{% url 'url_list_prod_comp_up_op' valor.id %} " class="btn btn-danger btn-block">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </font>
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
              $('#tabela').DataTable({
                  "language": {
                        "lengthMenu": "Mostrando _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Nenhum registro disponível",
                        "infoFiltered": "(filtrado de _MAX_ registros no total)"
                    }
                });
            });
        </script>
        <hr>
        <br>
    </div>
</div>

{% endblock %}