{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% load static %}

{% block head %}
    <style>
        .truncate {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        @media screen and (max-width: 750px) {
        table th:nth-child(2) {
        display: none;
        }
        @media screen and (max-width: 750px) {
        table td:nth-child(2) {
        display: none;
        }
        @media screen and (max-width: 750px) {
        table th:nth-child(4) {
        display: none;
        }
        @media screen and (max-width: 750px) {
        table td:nth-child(4) {
        display: none;
        }
        @media screen and (max-width: 750px) {
        table th:nth-child(7) {
        display: none;
        }
        @media screen and (max-width: 750px) {
        table td:nth-child(7) {
        display: none;
        }
    </style>
    <title>OPS em produção</title>
{% endblock %}

{% block modulos %}active{% endblock %}
{% block pcp %}active{% endblock %}
{% block lipcpprod %}active{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-11">
            <h2 align="center">OPS em produção</h2>
        </div>
        <div class="col-md-1">
            <p align="center">{{ now|date:"d/m/Y" }}</p>
        </div>
    </div>
    </div>
    <div class="col-md-12">
        <font size="2">
        <table id="tabela" class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align:center" scope="col" width="5%">Op</th>
                    <th style="text-align:center" scope="col" width="50%">Cliente / Serviço</th>
                    <th style="text-align:center" scope="col" width="50px">Quant</th>
                    <th style="text-align:center" scope="col" width="5%">Vendedor</th>
                    <th style="text-align:center" scope="col" width="50px">Entrada</th>
                    <th style="text-align:center" scope="col" width="50px">Prev entrega</th>
                    <th style="text-align:center" scope="col" width="15%">Obs</th>
                    <th style="text-align:center" scope="col" width="5%"></th>
                    <th style="text-align:center" scope="col" width="5%"></th>
                </tr>
            </thead>
            <tbody>
                {% for valor in object_list|dictsort:"op.prev_entrega" %}
                    {% if valor.entrega %}
                        {{ continue }}
                    {% elif valor.cancelada %}
                        {{ continue }}
                    {% else %}
                        <tr>
                        <td style="text-align:center">{{ valor.op.op }}</td>
                        <td style="width: 660px" height="50" class="truncate">{{ valor.op.cliente }} / {{ valor.op.servico }}</td>
                        <td style="text-align:center">{{ valor.op.quant }}</td>
                        <td style="text-align:center; width: 130px" height="50" class="truncate">{{ valor.op.vendedor }}</td>
                        <td style="text-align:center">{{ valor.op.entrada|date:"d/m/Y" }}</td>
                        <td style="text-align:center">{{ valor.op.prev_entrega|date:"d/m/Y" }}</td>
                        <td style="text-align:center">
                            {% if valor.obs %}
                                {{ valor.obs }}
                            {% else %}

                            {% endif %}
                        </td>
                        <td style="text-align:center">
                            <form method="POST" action="{% url 'url_list_prod_comp_up_op' valor.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-dark btn-sm btn-block" size="5px">+</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td style="text-align:center"><a href="{% url 'url_list_prod_comp_up_op' valor.id %} " class="btn btn-outline-secondary btn-sm btn-block">-</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </font>
        <script>
            var truncate = document.querySelectorAll(".truncate");
            truncate = [].slice.apply(truncate);
            truncate.forEach(function (elemento, indice) {
            elemento.title = elemento.innerHTML;
            })
        </script>
        <hr>
        <br>
    </div>
</div>

{% endblock %}