{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% load static %}

{% block head %}
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>Upload de OPS</title>
{% endblock %}

{% block modulos %}active{% endblock %}
{% block pcp %}active{% endblock %}
{% block lipcp %}active{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-10">
        <font size="2">
        <table id="tabela" class="table table-striped">
            <thead>
                <tr>
                <th scope="col" width="5%">Op</th>
                <th scope="col" width="15%">Cliente</th>
                <th scope="col" width="46%">Servico</th>
                <th scope="col" width="5%">Quant</th>
                <th scope="col" width="5%">Valor</th>
                <th scope="col" width="5%">Orcamento</th>
                <th scope="col" width="5%">Vendedor</th>
                <th scope="col" width="7%">Entrada</th>
                <th scope="col" width="7%">Prev entrega</th>
                <th scope="col" width="7%">Entrega</th>
                <th scope="col" width="7%">Cancelada</th>
                </tr>
            </thead>
            <tbody>
                {% for valor in object_list %}
                    <tr>
                    <td>{{ valor.op.op }}</td>
                    <td>{{ valor.op.cliente }}</td>
                    <td>{{ valor.op.servico }}</td>
                    <td>{{ valor.op.quant }}</td>
                    <td>{{ valor.op.valor }}</td>
                    <td>{{ valor.op.orcamento }}</td>
                    <td>{{ valor.op.vendedor }}</td>
                    <td>{{ valor.op.entrada|date:"d/m/Y" }}</td>
                    <td>{{ valor.op.prev_entrega|date:"d/m/Y" }}</td>
                    <td>{{ valor.entrega|date:"d/m/Y" }}</td>
                    <td>
                        {% if valor.cancelada == True %}
                            <p>cancelada</p>
                        {% else %}
                            <p>ativa</p>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </font>
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
              $('#tabela').DataTable({
                  "language": {
                        "lengthMenu": "Mostrando _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Nenhum registro disponível",
                        "infoFiltered": "(filtrado de _MAX_ registros no total)"
                    }
                });
            });
        </script>
        <hr>
        <br>
    </div>
    <div class="col-md-2">
        <h3 align="center">Novo Orçamento Adesivo Flexo</h3>
        <form method="post" action="{% url 'url_novo_entr_op' %}">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                   {{ form.op | bootstrap }}
                </div>
                <div class="col-sm-6">
                   {{ form.entrega | bootstrap }}
                </div>
                <div class="col-sm-2">
                   {{ form.cancelada | bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
    </div>
</div>

{% endblock %}