{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block head %}
    <title>Orçamentos Adesivo Flexo</title>
{% endblock %}

{% block menu %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Sistema Ecoprint</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_home_website' %}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-briefcase"></i> Modulos
                </a>
                {% if user.is_authenticated %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item disabled" href="#">Digital</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Flexo</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'url_ladesivo' %}">Orçamento Adesivo</a></li>
                                <li><a class="dropdown-item" href="{% url 'url_lfilme' %}">Orçamento Filme</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item disabled" href="#">Digital</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" href="#">Flexo</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'url_ladesivo' %}">Orçamento Adesivo</a></li>
                                <li><a class="dropdown-item" href="{% url 'url_lfilme' %}">Orçamento Filme</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_cadastro' %}"><i class="fas fa-database"></i> Cadastro</a>
            </li>
        </ul>
        <span class="navbar-text">
        {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}"><i class="fas fa-user"></i> Olá {{ user }}</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        {% else %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
        {% endif %}
        </span>
    </div>
</nav>

{% endblock %}

{% block main %}
<div class="row" align="center">
    <div class="col-sm-12">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username | bootstrap }}</td>
        </tr>
        <tr>
            <td>{{ form.password | bootstrap }}</td>
        </tr>
        </table>

        <input type="submit" class="btn btn-primary" value="login">
        <input type="hidden" name="next" class="btn btn-primary" value="{{ next }}">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Perdeu a Senha?</a></p>

    </div>
</div>
{% endblock %}