{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block head %}
    <style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #222222;
      color: white;
    }
    </style>
    <title>Orçamento Adesivo Flexo</title>
{% endblock %}

{% block modulos %}active{% endblock %}
{% block flexo %}active{% endblock %}
{% block ocadesivo %}active{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h2 align="center">Deseja Duplicar o Orçamento</h2>
        <hr>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5">
        <form method="post" action="{% url 'url_novo_ocadesivo' %}">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                   {{ form.data | bootstrap }}
                </div>
                <div class="col-sm-8">
                   {{ form.cliente | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   {{ form.servico | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                   {{ form.material | bootstrap }}
                </div>
                <div class="col-sm-4">
                   {{ form.acabamento | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                   {{ form.comp | bootstrap }}
                </div>
                <div class="col-sm-3">
                   {{ form.larg | bootstrap }}
                </div>
                <div class="col-sm-6">
                   {{ form.quantidade | bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            <a href="{% url 'url_ladesivo' %}" class="btn btn-secondary btn-block">Listagem</a>
        </form>
    </div>
</div>
{% endblock %}