{% extends 'base_sistema.html' %}

{% block head %}
    <title>Orçamentos Adesivo Flexo</title>
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
{% endblock %}

{% block main %}
    <h1>Listagem dos Orçamentos Adesivo Flexo</h1>
        <ul>
        {% for v in listagem %}
        <li>{{ v.id }} - {{ v.cliente }} - {{ v.servico }} - {{ v.quantidade }} - <a href="{% url 'url_cons_ocadesivo' v.id %}">Consultar</a></li>
        {% endfor %}
        </ul>
    <br>
    <a href="{% url 'url_novo_ocadesivo' %}">Novo</a> - <a href="{% url 'url_home' %}">Inicio</a>
{% endblock %}