{% extends 'base_sistema.html' %}
{% load static %}
{% load bootstrap %}

{% block head %}
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>Orçamento Filme Flexo</title>
{% endblock %}

{% block modulos %}active{% endblock %}
{% block flexo %}active{% endblock %}
{% block ocfilme %}active{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-8">
        <h3 align="center">Listagem dos Orçamentos Filme Flexo</h3>
        <font size="2">
        <table id="tabela" class="table table-striped">
            <thead>
                <tr>
                <th scope="col" width="1%">Id</th>
                <th scope="col" width="28%">Cliente</th>
                <th scope="col" width="40%">Serviço</th>
                <th scope="col" width="10%">Quant.</th>
                <th scope="col" width="10%">Peso</th>
                <th scope="col" width="10%">Valor</th>
                <th scope="col" width="1%"></th>
                </tr>
            </thead>
            <tbody>
                {% for valor in object_list %}
                    <tr>
                    <td>{{ valor.id }}</td>
                    <td>{{ valor.cliente }}</td>
                    <td>{{ valor.servico }} - {{ valor.comp }} x {{ valor.larg }} mm</td>
                    <td>{{ valor.calc_vf.quanta }}</td>
                    <td>{{ valor.calc_vf.totalp_a }} kg</td>
                    <td>R$ {{ valor.calc_vf.total_a }}</td>
                    <td><a href="{% url 'url_cons_ocfilme' valor.id %}" class="btn btn-primary btn-sm">+</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </font>
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
              $('#tabela').DataTable({
                  "language": {
                        "lengthMenu": "Mostrando _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Nenhum registro disponível",
                        "infoFiltered": "(filtrado de _MAX_ registros no total)"
                    }
                });
            });
        </script>
        <hr>
        <br>
    </div>
    <div class="col-md-4">
        <h3 align="center">Novo Orçamento Filme Flexo</h3>
        <form method="post" action="{% url 'url_novo_ocfilme' %}">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                   {{ form.data | bootstrap }}
                </div>
                <div class="col-sm-8">
                   {{ form.cliente | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   {{ form.servico | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                   {{ form.material | bootstrap }}
                </div>
                <div class="col-sm-4">
                   {{ form.acabamento | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                   {{ form.comp | bootstrap }}
                </div>
                <div class="col-sm-3">
                   {{ form.larg | bootstrap }}
                </div>
                <div class="col-sm-6">
                   {{ form.quantidade | bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
    </div>
</div>

{% endblock %}