{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block head %}
    <title>Orçamento Adesivo Flexo</title>
{% endblock %}

{% block menu %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <a class="navbar-brand">Sistema Ecoprint</a></li>
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'url_home_website' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orçamentos Flexo<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="active"><a href="{% url 'url_ladesivo' %}">Orçamentos Adesivo</a></li>
              <li><a href="{% url 'url_lfilme' %}">Orçamentos Filme</a></li>
            </ul>
          </li>
        {% else %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orçamentos Flexo<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="{% url 'url_ladesivo' %}">Orçamentos Adesivo</a></li>
              <li class="disabled"><a href="{% url 'url_lfilme' %}">Orçamentos Filme</a></li>
            </ul>
          </li>
        {% endif %}
        <li><a href="/admin">Cadastro</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>  Olá {{ user }}</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}



<div class="row">
    <div class="col-sm-12">
        <h2 align="center">Orçamento Adesivo Flexo - {{ cadastro.cliente }}</h2>
    </div>
    <div class="col-sm-5">
        <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                   {{ form.data | bootstrap }}
                </div>
                <div class="col-sm-8">
                   {{ form.cliente | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   {{ form.servico | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                   {{ form.material | bootstrap }}
                </div>
                <div class="col-sm-4">
                   {{ form.acabamento | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                   {{ form.comp | bootstrap }}
                </div>
                <div class="col-sm-3">
                   {{ form.larg | bootstrap }}
                </div>
                <div class="col-sm-6">
                   {{ form.quantidade | bootstrap }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
    </div>
    <div class="col-sm-7">
        <h5>Quantidade Mínima: {{ quantmi }}</h5>

        <h2>Valores:</h2>
        <h4>Quantidade: {{ quanta }}</h4>
        Quant. em m²: {{ mqa }}<br>
        Valor do m²: {{ vaa }}<br>
        Valor unitário: {{ valor_a }} R$
        <br>
        Total: {{ total_a }} R$
        <br>
        <br>
        <h4>Quantidade: {{ quantb }}</h4>
        Quant. em m²: {{ mqb }}<br>
        Valor do m²: {{ vab }}<br>
        Valor unitário: {{ valor_b }} R$
        <br>
        Total: {{ total_b }} R$
        <br>
        <br>
        <h4>Quantidade: {{ quantc }}</h4>
        Quant. em m²: {{ mqc }}<br>
        Valor do m²: {{ vac }}<br>
        Valor unitário: {{ valor_c }} R$
        <br>
        Total: {{ total_c }} R$
    </div>
</div>

{% endblock %}