{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block head %}
    <style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #222222;
      color: white;
    }
    </style>
    <title>Orçamento Filme Flexo</title>
{% endblock %}

{% block menu %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <a class="navbar-brand">Sistema Ecoprint</a></li>
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'url_home_website' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orçamentos Flexo<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'url_ladesivo' %}">Orçamentos Adesivo</a></li>
              <li class="active"><a href="{% url 'url_lfilme' %}">Orçamentos Filme</a></li>
            </ul>
          </li>
        {% else %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orçamentos Flexo<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="disabled"><a href="{% url 'url_ladesivo' %}">Orçamentos Adesivo</a></li>
              <li class="disabled"><a href="{% url 'url_lfilme' %}">Orçamentos Filme</a></li>
            </ul>
          </li>
        {% endif %}
        <li><a href="/admin">Cadastro</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>  Olá {{ user }}</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-12">
        <h2 align="center">Orçamento Filme Flexo - {{ cadastro.cliente }}</h2>
    </div>
    <div class="col-sm-5">
        <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                   {{ form.data | bootstrap }}
                </div>
                <div class="col-sm-8">
                   {{ form.cliente | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   {{ form.servico | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                   {{ form.material | bootstrap }}
                </div>
                <div class="col-sm-4">
                   {{ form.acabamento | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                   {{ form.comp | bootstrap }}
                </div>
                <div class="col-sm-3">
                   {{ form.larg | bootstrap }}
                </div>
                <div class="col-sm-6">
                   {{ form.quantidade | bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        </form>
    </div>
    <div class="col-sm-7">
        <h3 align="center">Tabela de valores</h3>
        <font size="3">
        <table class="table" id="customers">
            <thead class="thead">
                <tr>
                <th scope="col" width="20%">Quantidade</th>
                <th scope="col" width="15%">Peso</th>
                <th scope="col" width="15%">Valor do kg</th>
                <th scope="col" width="20%">Valor unitário</th>
                <th scope="col" width="30%">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ quanta }}</td>
                <td>{{ totalp_a }} kg</td>
                <td>R$ {{ vaa }}</td>
                <td>R$ {{ valor_a }}</td>
                <td>R$ {{ total_a }}</td>
                </tr>
                <tr>
                <td>{{ quantb }}</td>
                <td>{{ totalp_b }} kg</td>
                <td>R$ {{ vab }}</td>
                <td>R$ {{ valor_b }}</td>
                <td>R$ {{ total_b }}</td>
                </tr>
                <tr>
                <td>{{ quantc }}</td>
                <td>{{ totalp_c }} kg</td>
                <td>R$ {{ vac }}</td>
                <td>R$ {{ valor_c }}</td>
                <td>R$ {{ total_c }}</td>
                </tr>
            </tbody>
        </table>
        </font>
        <p>Quantidade Mínima: {{ quantmi }}</p>
    </div>
</div>

{% endblock %}
