{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block head %}
    <style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #222222;
      color: white;
    }
    </style>
    <title>Orçamento Filme Flexo</title>
{% endblock %}

{% block menu %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Sistema Ecoprint</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_home_website' %}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-briefcase"></i> Modulos
                </a>
                {% if user.is_authenticated %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item disabled" href="#">Digital</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle active" href="#">Flexo</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'url_ladesivo' %}">Orçamento Adesivo</a></li>
                                <li><a class="dropdown-item active" href="{% url 'url_lfilme' %}">Orçamento Filme</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item disabled" href="#">Digital</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" href="#">Flexo</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'url_ladesivo' %}">Orçamento Adesivo</a></li>
                                <li><a class="dropdown-item" href="{% url 'url_lfilme' %}">Orçamento Filme</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_cadastro' %}"><i class="fas fa-database"></i> Cadastro</a>
            </li>
        </ul>
        <span class="navbar-text">
        {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}"><i class="fas fa-user"></i> Olá {{ user }}</a>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        {% else %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
        {% endif %}
        </span>
    </div>
</nav>

{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <h2 align="center">Orçamento Filme Flexo - {{ cadastro.cliente }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                   {{ form.data | bootstrap }}
                </div>
                <div class="col-sm-8">
                   {{ form.cliente | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   {{ form.servico | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                   {{ form.material | bootstrap }}
                </div>
                <div class="col-sm-4">
                   {{ form.acabamento | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                   {{ form.comp | bootstrap }}
                </div>
                <div class="col-sm-3">
                   {{ form.larg | bootstrap }}
                </div>
                <div class="col-sm-6">
                   {{ form.quantidade | bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            <a href="{% url 'url_dup_ocfilme' object.id %}" class="btn btn-secondary btn-block">Duplicar</a>
            <a href="{% url 'url_del_ocfilme' object.id %}" class="btn btn-danger btn-block">Deletar</a>
        </form>
    </div>
    <div class="col-md-7">
        <h3 align="center">Tabela de valores</h3>
        <font size="3">
        <table class="table" id="customers">
            <thead class="thead">
                <tr>
                <th scope="col" width="20%">Quantidade</th>
                <th scope="col" width="15%">Peso</th>
                <th scope="col" width="15%">Valor do kg</th>
                <th scope="col" width="20%">Valor unitário</th>
                <th scope="col" width="30%">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ object.calc_vf.quanta }}</td>
                <td>{{ object.calc_vf.totalp_a }} kg</td>
                <td>R$ {{ object.calc_vf.vaa }}</td>
                <td>R$ {{ object.calc_vf.valor_a }}</td>
                <td>R$ {{ object.calc_vf.total_a }}</td>
                </tr>
                <tr>
                <td>{{ object.calc_vf.quantb }}</td>
                <td>{{ object.calc_vf.totalp_b }} kg</td>
                <td>R$ {{ object.calc_vf.vab }}</td>
                <td>R$ {{ object.calc_vf.valor_b }}</td>
                <td>R$ {{ object.calc_vf.total_b }}</td>
                </tr>
                <tr>
                <td>{{ object.calc_vf.quantc }}</td>
                <td>{{ object.calc_vf.totalp_c }} kg</td>
                <td>R$ {{ object.calc_vf.vac }}</td>
                <td>R$ {{ object.calc_vf.valor_c }}</td>
                <td>R$ {{ object.calc_vf.total_c }}</td>
                </tr>
            </tbody>
        </table>
        </font>
        <p>Quantidade Mínima: {{ object.calc_vf.quantmi }}</p>
        <a href="{% url 'url_lfilme' %}" class="btn btn-info btn-block">Listagem</a>
    </div>
</div>

{% endblock %}
